@model List<CareNet_System.ViewModel.PatientDetailsVM>
@{
    ViewData["Title"] = "ShowAllPatients";
    
}
@section PatientsContent {
<h1>AllPatients</h1>
<div class="mb-3">
    <a class="btn btn-primary" asp-controller="Patient" asp-action="AddNewPatient">
        ➕ ADD NEW PATIENT
    </a>
</div>
@* <div class="mb-3"> *@
@*     <a class="btn btn-primary" asp-controller="Patient" asp-action="UpdatePatient"> *@
@*        Update PATIENT *@
@*     </a> *@
@* </div> *@
@* <div class="mb-3"> *@
@*     <a class="btn btn-primary" asp-controller="Patient" asp-action="UpdatePatient"> *@
@*         Update PATIENT *@
@*     </a> *@
@* </div> *@


<div class="container mt-4">
    <div class="row">
        @foreach (var patient in Model) 
     {
        @* <div class="col-md-4 mb-4"> *@
        @*     <div class="card"> *@
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow">
                <div class="card-body" style="border:1px solid black;" >
                        <h5 class="card-title">👤Patient_name :@patient.PName</h5> 
                        <p class="card-number">🛏Room_number: @patient.PRoomNum</p> 
                         @* <h5 class="card-title">🩺DR:@patient.PDoctorName</h5>   *@
                         <h5 class="card-title">🏥DEPARTMENT:@patient.PDepartment</h5>
                        <a asp-action="UpdatePatient" asp-controller="Patient" asp-route-id="@patient.PId" class="btn btn-warning">✏️ Update</a>
                        <a asp-action="DeletePatient" asp-controller="Patient" asp-route-id="@patient.PId" class="btn btn-danger">🗑️ Delete</a>
                        
</div>
                </div>
            </div>
                }
                }

        


